{% extends 'main.html' %}

{% block title %}Reset Successful {% endblock title %}

{% block content %}

    <main class="formPage my-xl">
        <div class="content-box">
            <div class="formWrapper">
                <br>
                <h1>Password reset complete</h1>
            <p>Your password has been set. You may go ahead and log in now</p>
            <li class="header__menuItem"><a href="{% url 'login' %}" class="btn btn--sub">Login</a></li>
            </div>
        </div>
    </main>


{% endblock content %}